.img-gallery a
{
    display: flexbox;
    flex-wrap:wrap;
    width:100%;
    justify-content: center;
    margin-left:40px;
}
.img-gallery img{
    /* width:100%; */
    /* display: flex; */
    justify-content: space-around;
    cursor:pointer;
    margin-bottom: 40px;
    transition: 0.4s;
}

.img-gallery img:hover{
  transform:scale(0.8);
  border-radius: 20px;
  box-shadow: 0 32px 75px black;
}

 h1
 {
    margin:40px 0;
    font-size: 35px;
    background-color: #34495e;
    color:#ebebeb;
    text-align: center;
 }
 
 /* h1::before {  
    transform: scaleX(0);
    transform-origin: bottom right;
  }
  
  h1:hover::before {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  @media (orientation: landscape) {
    body {
      grid-auto-flow: column;
    }
  }
  
  h1::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    inset: 0 0 0 0;
    background: hsl(200 100% 80%);
    z-index: -1;
    transition: transform 0.3s ease;
  }
  
  h1 {
    position: relative;
    font-size: 5rem;
  } */
  

 #gallery
 {

     display: flex;
     flex-direction: column;
     justify-content:center;
 }


