#first {
  display: flex;
  /* flex-wrap: nowrap; */
  padding-left: 50px;
  padding-left: 30px;
}
html {
  scroll-behavior: smooth;
}
#myBtn:hover {
  background-color: white;
  color: #032879;
  transition: 1s;
}

#myBtn {
  display: none;
  position: fixed;

  bottom: 20px;
  right: 30px;
  z-index: 99;

  font-size: 26px;
  /* border: 5px solid wheat ; */
  /* outline: none; */
  background-color: #032879;
  color: white;
  cursor: pointer;
  /* padding: 30px; */
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 100px;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

#text {
  margin-right: 20px;
}

.bookstand {
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

h1 {
  display: flex;
}

#section5 {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

#section4 {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: center;
}

#section4 > div {
  margin: 20px;
  border: 1px solid rgb(174, 172, 172);
  border-radius: 5px;
  box-shadow: -4px 2px 4px 2px rgba(0, 0, 0, 0.42);
}

#section4 > div:hover {
  box-shadow: -16px 10px 16px 0px rgba(0, 0, 0, 0.42);
  transition: 0.5s all;
}

#section5 > div > img {
  width: 300px;
  height: 300px;
}
#section5 > div {
  margin-top: 3px;
  margin: 20px;
  border: 1px solid rgb(174, 172, 172);
  justify-content: center;
  border-radius: 5px;
  background-color: rgb(165, 162, 162);
}

#section5 > div:hover {
  box-shadow: -16px 10px 16px 0px rgba(0, 0, 0, 0.42);
  transition: 0.5s all;
}

#dotd {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.bookstand div a:hover img {
  transform: scale(0.9);
  transition: 0.4s all ease-in-out;
}

.bookstand div a img {
  transform: scale(0.9);
  transition: 0.4s all ease-out;
}
